{% extends 'base.html' %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Admin Dashboard</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Welcome, {{ username }}!</p>
        <p>Total Registered Users: <strong>{{ totalreg }}</strong></p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{ url_for('add_user') }}" class="btn btn-primary btn-lg px-4 gap-3">Add New User</a>
            <a href="{{ url_for('view_attendance') }}" class="btn btn-outline-secondary btn-lg px-4">View Today's Attendance</a>
        </div>
    </div>
</div>
{% endblock %}